name: ci

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    name: Test on Python ${{ matrix.python-version}}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8', '3.9']
    
    steps:
      - name: checkout code
        uses: actions/checkout@v2
    
    
      - name: Set up miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: latest
          python-version : ${{matrix.python-version}}
          activate-environment: miniproject
          environment-file: environment.yml
          auto-activate-base: false
        
      - name: install dependencies
        shell: bash
        run: |
          pip install pytest
          pip install sklearn
          pip install sphinx
          pip install pytest-cov
          pip install coveralls
      - name: Test with pytest
        shell: bash
        run: |
          sphinx-build -b doctest docs sphinx
          pytest --cov=. test.py
      - name: Build documentation
        shell: bash
        run: |
          sphinx-build docs sphinx
          touch sphinx/.nojekyll
          coverage html -d sphinx/coverage

      - name: upload coverage
        shell: bash -l {0}
        env: 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_FLAG_NAME: ${{ matrix.python-version }}
          COVERALLS_PARALLEL: true
        run: |
          conda info -a
          coveralls --service=github
      - name: Deploy documentation to GitHub Pages
        if: ${{ matrix.python-version == '3.8' }}  #deploys only one variant
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-page
          build_dir: sphinx
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
