name: ci

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  test:
    name: Test on Python ${{ matrix.python-version}}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8', '3.9']
    
    steps:
      - name: checkout code
        uses: actions/checkout@v2
    
    
      - name: Set up miniconda
        uses: conda-incubator/setup-miniconda@v2
        with:
          miniconda-version: latest
          python-version : ${{matrix.python-version}}
          activate-environment: miniproject
          environment-file: environment.yml
          auto-activate-base: false
        
        
      - name: Test with pytest
        shell: bash
        run: |
          pytest -sv ./test-database.py
      - name: Build documentation
        shell: bash
        run: |
          sphinx-build doc sphinx
    
